<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" size="small" (click)="voltar()">Voltar</ion-button>
    </ion-buttons>
    <ion-title>Signos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <p>CARNEIRO de 21/3 a 20/4<br>
1º decanato ( nascidos entre 21/03 e 31/03)<br>
2º Decanato ( nascidos entre 31/03 e 10/04)<br>
3º Decanato ( nascidos entre 11/04 e 20/04)<br><br>
TOURO de 21/4 a 30/4<br>
1º Decanato ( nascidos entre 21/04 e 30/04)<br>
2º Decanato ( nascidos entre 01/05 e 10/05)<br>
3º Decanato ( nascidos entre 11/05 e 20/05)<br><br>
GEMEOS de 21/5 a 20/6<br>
1º Decanato ( nascidos entre 21/05 e 31/05)<br>
2º Decanato ( nascidos entre 31/05 e 10/06)<br>
3º Decanato ( nascidos entre 11/06 e 20/06)<br><br>

CARANGUEJO de 21/6 a 21/7<br>
1º Decanato ( nascidos entre 21/06 e 01/07)<br>
2º Decanato ( nascidos entre 02/07 e 11/07)<br>
3º Decanato ( nascidos entre 12/07 e 21/07)<br><br>

LEÃO de 22/7 a 22/8<br>
1º Decanato (nascidos entre 22/07 e 02/08)<br>
2º Decanato ( nascidos entre 03/08 e 12/08)<br>
3º Decanato ( nascidos entre 13/08 e 22/08)<br><br>

VIRGEM de 23/8 a 22/9<br>
1º decanato ( nascidos entre 23/08 e 02/09)<br>
2º Decanato ( nascidos entre 03/09 e 12/09)<br>
3º Decanato ( nascidos entre 13/09 e 22/09)<br><br>

BALANÇA de 23/9 a 22/10<br>
1º decanato ( nascidos entre 23/09 e 02/10)<br>
2º decanato ( nascidos entre 03/10 e 12/10)<br>
3º decanato ( nascidos entre 13/10 e 22/10)<br><br>

ESCORPIÃO de 23/10 a 21/11<br>
1º decanato ( nascidos entre 23/10 e 01/11)<br>
2º decanato ( nascidos entre 02/11 e 11/11)<br>
3º decanato ( nascidos entre 12/11 e 21/11)<br><br>

SAGITÁRIO de 22/11 a 21/12<br>
1º decanato ( nascidos entre 22/11 e 01/12)<br>
2º decanato ( nascidos entre 02/12 e 11/12)<br>
3º decanato ( nascidos entre 12/12 e 21/12)<br><br>

CAPRICÓRNIO de 22/12 a 20/1<br>
1º decanato ( nascidos entre 22/12 e 31/12)<br>
2º decanato ( nascidos entre 01/01 e 10/01)<br>
3º decanato ( nascidos entre 11/01 e 20/01)<br><br>

AQUÁRIO de 21/1 a 19/2<br>
1º decanato ( nascidos entre 21/01 e 30/01)<br>
2º decanato ( nascidos entre 31/01 e 09/02)<br>
3º decanato ( nascidos entre 10/02 e 19/02)<br><br>

PEIXES de 20/2 a 20/3<br>
1º decanato ( nascidos entre 20/02 e 01/03)<br>
2º decanato ( nascidos entre 02/03 e 11/03)<br>
3º decanato (nascidos entre 12/03 e 20/03)<br><br></p>
</ion-content>

