<ion-header [translucent]="true">

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button 
        fill="clear" 
        size="small" 
        (click)="voltar()">
        Voltar
      </ion-button>
    </ion-buttons>

    <ion-title>
      Signos
    </ion-title>

  </ion-toolbar>

</ion-header>


<ion-content 
  [fullscreen]="true" 
  class="ion-padding">


  <ion-accordion-group expand="inset">


    <!-- CARNEIRO -->
    <ion-accordion value="carneiro">

      <ion-item slot="header">
        <ion-label>
          ♈ Carneiro
        </ion-label>
      </ion-item>

      <div 
        class="accordion-content" 
        slot="content">

        <p>
          <strong>Período:</strong> 21/3 a 20/4
        </p>

        <p>
          1º Decanato (21/03 a 31/03)<br>
          2º Decanato (31/03 a 10/04)<br>
          3º Decanato (11/04 a 20/04)
        </p>

      </div>

    </ion-accordion>



    <!-- TOURO -->
    <ion-accordion value="touro">

      <ion-item slot="header">

        <ion-label>
          ♉ Touro
        </ion-label>

      </ion-item>


      <div 
      class="accordion-content" 
      slot="content">

        <p>
          <strong>Período:</strong> 21/4 a 20/5
        </p>

        <p>
          1º Decanato (21/04 a 30/04)<br>
          2º Decanato (01/05 a 10/05)<br>
          3º Decanato (11/05 a 20/05)
        </p>

      </div>

    </ion-accordion>




    <!-- GÉMEOS -->
    <ion-accordion value="gemeos">

      <ion-item slot="header">

        <ion-label>
          ♊ Gémeos
        </ion-label>

      </ion-item>


      <div 
      class="accordion-content" 
      slot="content">

        <p>
          <strong>Período:</strong> 21/5 a 20/6
        </p>

        <p>
          1º Decanato (21/05 a 31/05)<br>
          2º Decanato (31/05 a 10/06)<br>
          3º Decanato (11/06 a 20/06)
        </p>

      </div>

    </ion-accordion>





    <!-- CARANGUEJO -->
    <ion-accordion value="caranguejo">

      <ion-item slot="header">

        <ion-label>
          ♋ Caranguejo
        </ion-label>

      </ion-item>


      <div 
      class="accordion-content" 
      slot="content">

        <p>
          <strong>Período:</strong> 21/6 a 21/7
        </p>

        <p>
          1º Decanato (21/06 a 01/07)<br>
          2º Decanato (02/07 a 11/07)<br>
          3º Decanato (12/07 a 21/07)
        </p>

      </div>

    </ion-accordion>





    <!-- LEÃO -->
    <ion-accordion value="leao">

      <ion-item slot="header">

        <ion-label>
          ♌ Leão
        </ion-label>

      </ion-item>


      <div 
      class="accordion-content" 
      slot="content">

        <p>
          <strong>Período:</strong> 22/7 a 22/8
        </p>

        <p>
          1º Decanato (22/07 a 02/08)<br>
          2º Decanato (03/08 a 12/08)<br>
          3º Decanato (13/08 a 22/08)
        </p>

      </div>

    </ion-accordion>



    <!-- VIRGEM -->
    <ion-accordion value="virgem">

      <ion-item slot="header">

        <ion-label>
          ♍ Virgem
        </ion-label>

      </ion-item>


      <div 
      class="accordion-content" 
      slot="content">

        <p>
          <strong>Período:</strong> 23/8 a 22/9
        </p>

        <p>
          1º Decanato (23/08 a 02/09)<br>
          2º Decanato (03/09 a 12/09)<br>
          3º Decanato (13/09 a 22/09)
        </p>

      </div>

    </ion-accordion>



    <!-- BALANÇA -->
    <ion-accordion value="balanca">

      <ion-item slot="header">

        <ion-label>
          ♎ Balança
        </ion-label>

      </ion-item>


      <div 
      class="accordion-content" 
      slot="content">

        <p>
          <strong>Período:</strong> 23/9 a 22/10
        </p>

        <p>
          1º Decanato (23/09 a 02/10)<br>
          2º Decanato (03/10 a 12/10)<br>
          3º Decanato (13/10 a 22/10)
        </p>

      </div>

    </ion-accordion>

    <!-- ESCORPIÃO -->
    <ion-accordion value="escorpiao">

      <ion-item slot="header">

        <ion-label>
          ♏ Escorpião
        </ion-label>

      </ion-item>


      <div 
      class="accordion-content" 
      slot="content">

        <p>
          <strong>Período:</strong> 23/10 a 21/11
        </p>

        <p>
          1º Decanato (23/10 a 01/11)<br>
          2º Decanato (02/11 a 11/11)<br>
          3º Decanato (12/11 a 21/11)
        </p>

      </div>

    </ion-accordion>





    <!-- SAGITÁRIO -->
    <ion-accordion value="sagitario">

      <ion-item slot="header">

        <ion-label>
          ♐ Sagitário
        </ion-label>

      </ion-item>


      <div 
      class="accordion-content" 
      slot="content">

        <p>
          <strong>Período:</strong> 22/11 a 21/12
        </p>

        <p>
          1º Decanato (22/11 a 01/12)<br>
          2º Decanato (02/12 a 11/12)<br>
          3º Decanato (12/12 a 21/12)
        </p>

      </div>

    </ion-accordion>





    <!-- CAPRICÓRNIO -->
    <ion-accordion value="capricornio">

      <ion-item slot="header">

        <ion-label>
          ♑ Capricórnio
        </ion-label>

      </ion-item>


      <div 
      class="accordion-content" 
      slot="content">

        <p>
          <strong>Período:</strong> 22/12 a 20/1
        </p>

        <p>
          1º Decanato (22/12 a 31/12)<br>
          2º Decanato (01/01 a 10/01)<br>
          3º Decanato (11/01 a 20/01)
        </p>

      </div>

    </ion-accordion>





    <!-- AQUÁRIO -->
    <ion-accordion value="aquario">

      <ion-item slot="header">

        <ion-label>
          ♒ Aquário
        </ion-label>

      </ion-item>


      <div 
      class="accordion-content" 
      slot="content">

        <p>
          <strong>Período:</strong> 21/1 a 19/2
        </p>

        <p>
          1º Decanato (21/01 a 30/01)<br>
          2º Decanato (31/01 a 09/02)<br>
          3º Decanato (10/02 a 19/02)
        </p>

      </div>

    </ion-accordion>





    <!-- PEIXES -->
    <ion-accordion value="peixes">

      <ion-item slot="header">

        <ion-label>
          ♓ Peixes
        </ion-label>

      </ion-item>


      <div 
      class="accordion-content" 
      slot="content">

        <p>
          <strong>Período:</strong> 20/2 a 20/3
        </p>

        <p>
          1º Decanato (20/02 a 01/03)<br>
          2º Decanato (02/03 a 11/03)<br>
          3º Decanato (12/03 a 20/03)
        </p>

      </div>

    </ion-accordion>


  </ion-accordion-group>


</ion-content>