<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" size="small" (click)="voltar()">Voltar</ion-button>
    </ion-buttons>
    <ion-title>Animais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Página de Animais</h1>
  <p>Selecione um animal para ver a descrição.</p>

  <ion-grid>
    <ion-row>
      <ion-col
        size="6"
        *ngFor="let animal of animais; trackBy: trackById"
      >
        <ion-card class="animal-card" (click)="navigateDetalhe(animal.id)">
          <img
            [src]="getImagem(animal.imagem)"
            [alt]="animal.nome"
            class="animal-image"
          />
          <div class="animal-overlay">
            <ion-card-title>{{ animal.nome | uppercase }}</ion-card-title>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>

