<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Antepassados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-text-center">
    <h2>Mãe</h2>
    <p>Caminhe sempre em direção à mãe, continue a dizer internamente:</p>   
  </div>
  <p>Minha querida mãe, <br>
Minha mãe querida,<br>
És a grande e eu apenas a(o) pequena(o) És a mãe certa para mim.<br>
És a única mãe para mim.<br>
Se não fosses tu, eu não estaria aqui.<br>
Por isso, minha querida mãe,<br>
os teus sacrifícios, as tuas dores e tudo o que passaste não foram em vão.<br>
Obrigado(a) querida mãe.<br>
Obrigado(a) pela vida que me deste<br>
e por tudo o que me deste,<br>
que foi o suficiente para eu chegar até aqui. O que não me conseguiste dar,<br>
eu vou fazer por mim.</p>
<div class="ion-text-center">
  <p>Quando chegar ao pé da sua mãe, aninhe-se no seu colo. Foi como foi. Mesmo que não entenda, entregue-se nesse colo e sinta esse calor, esse conforto. No colo da mãe temos tudo. No colo da mãe não falta nada. Pode permanecer aí o tempo que quiser.
</p>
</div>
<p>
  Deixo contigo o que é teu e levo para a vida apenas o que é meu,<br>
Ao construir a minha história eu honro a tua e o teu<br>
nome e vou fazer algo de bom e de novo com a vida<br>
que chegou até mim através de ti.
</p>

<div class="ion-text-center">
    <h2>Pai</h2>
    <p>Caminhe sempre em direção ao pai, continue a dizer internamente:</p>   
  </div>
  <p>Meu querido pai,<br>
Meu querido pai,<br>
Meu querido pai,<br>
Aceito tudo o que vem de ti.<br>
Tudo, com todas as consequências e pelo preço que te custou a ti e que me custa a mim.<br>
Tu és o pai certo para mim,<br>
O único pai para mim.<br>
Se não fosses tu eu não estava cá.<br>
Com a vida que chegou até mim através de ti,<br>
eu vou fazer algo de bom e de positivo em tua memória com gratidão e respeito.<br>
O que tu fizeste e a tua vida, pai, não foram em vão. Nunca estivemos longe, pai,<br>
porque tu estás comigo no meu coração e em todas as células do meu corpo,<br>
e se me for permitido passá-lo-ei em diante, como tu fizeste. Aceito-te, querido pai, como o pai,<br>
e tu me terás como filho(a).<br>
És o único pai para mim e eu sou o(a) teu(tua) filho(a). És grande, pai. És o grande e eu sou apenas o(a) pequeno(a).<br>
Obrigado(a), pai, por teres escolhido a mãe para mim. Independentemente do que se passou entre vocês, dentro de mim, vocês estão sempre juntos.<br>
O que tu deste, pai, foi o suficiente e eu recebo-o.<br>
Meu querido pai, muito obrigado.<br>
As minhas vitórias também são para ti.<br>
Os meus sucessos também são por ti, querido pai.<br>
E ao construir a minha história eu honro a tua e o teu nome.<br>
Eu honro o masculino em mim.</p>


<div class="ion-text-center">
    <h2>Energia Feminina / Masculina</h2>
    <p>Visualize à sua frente a sua mãe/pai e atrás dela, a sua avó/avô materna/paterno. Visualize atrás da sua avó/avô materna/paterno, a sua bisavó/bisavô materna/paterno. Pode visualizar também mais mulheres atrás da sua bisavó/bisavô, mulheres/homens que não deve ter chegado a conhecer, mas tome consciência de que a vida veio de muito longe.
Olhe nos olhos da sua mãe/pai.</p>   
  </div>
  <p>Sim, querida mãe/pai,<br>
eu tomo o teu amor como foi possível<br>
e ao preço que te custou a ti.<br>
Sobre a tua vida eu sei muito pouco.<br>
Não sei as dores que tu carregaste e que carregas, os sofrimentos que suportaste e que suportas,<br>
os sacrifícios que fizeste e que fazes<br>
ao serviço da família.<br>
Eu acolho, mãe/pai, tudo o que fizeste por mim.<br>
Foi o que conseguiste.<br>
Se não fosses tu, querida mãe/pai, eu não estaria aqui, por isso, o que recebi de ti foi tanto.<br>
Foi a vida e foi o suficiente para chegar até aqui.</p>
<div class="ion-text-center">
  <p>Agora visualize a sua mãe/pai pequenina. Visualize todas essas mulheres/homens atrás dela. Diga-lhes:
</p>
</div>
<p>
  Eu vejo-vos. <br>
Eu agora vejo-vos.<br>
A vida veio de muito longe,<br>
Se não fossem vocês eu não estaria aqui, por isso, obrigada.<br>
A vossa vida e tudo o que passaram não foram em vão e por mim e por vocês<br>
eu vou fazer algo de bom e de novo<br>
com a vida que chegou até mim através de vocês, Agora, vocês por vocês e eu por mim,<br>
E ao construir a minha história eu honro a vossa e o vosso nome.
</p>
<div class="ion-text-center">
  Visualize que a sua mãe/pai lhe coloca uma mão na cabeça, dando-lhe a bênção, e assim, sucessivamente: a sua avó/avô coloca a mão na cabeça da sua mãe/pai, a sua bisavó/bisavô coloca a mão na cabeça da sua avó/avô.
Diga:
</div>
<p>
  E por favor, abençoem-me e olhem com bons olhos <br>
para a minha vida e para o meu sucesso. Obrigada.
</p>

<div class="ion-text-center">
    <h2>Excluidos</h2>
    <p>Visualize à sua frente os excluídos da família. Podem ser pessoas que consegue identificar, que conheceu; ou pode visualizar apenas formas, sem conseguir identificar rostos, já que podem surgir-lhe pessoas de muito lá de trás do seu sistema familiar. <br><br>

Podem ser pessoas que se excluíram por alguma razão, por amor a alguém que estava excluído, ou podem ser pessoas que foram excluídas do sistema, por vergonha, por alcoolismo, por toxicodependência, por alguma tendência sexual, por culpa... não importa.
Olhe para todos eles e diga:</p>   
  </div>
  <p>Eu agora vejo-vos, <br>
Eu agora vejo-vos e vocês fazem parte. Independentemente do que aconteceu, vocês pertencem à nossa família<br>
e são uns de nós.<br>
Eu sinto muito que tenham sido excluídos<br>
e honro o vosso destino difícil.<br>
Mas eu fui impotente,<br>
Agora acolho-vos no meu coração,<br>
E no meu coração guardo um lugar muito especial para vocês, sempre.<br>
E onde estiverem, olhem por mim.</p>

    <ion-button (click)="voltar()" color="primary" expand="block">Voltar</ion-button>
</ion-content>
