<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" size="small" (click)="voltar()">Voltar</ion-button>
    </ion-buttons>

    <ion-title
      
    >
      Lateralidade
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <b>Doenças ou feridas no LADO DIREITO (Yin).</b>
  <br />
  - Conflitos com outras mulheres (mãe, sogra, patroa, esposa, filha, etc.).<br />
  - Se for mulher, autocobrança excessiva ou Inflexibilidade consigo ou Culpa consciente/inconsciente.<br />
  - Hemisfério cerebral esquerdo (Yang) em desequilíbrio.

  <br /><br />

  <b>Doenças ou feridas no LADO ESQUERDO (Yang).</b>
  <br />
  - Conflitos com homens (pai, sogro, patrão, marido, filho, etc.).<br />
  - Se for homem, autocobrança excessiva ou Inflexibilidade consigo ou Culpa consciente/inconsciente.<br />
  - Hemisfério cerebral direito (Yin) em desequilíbrio.

  <br /><br />
</ion-content>

