<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" size="small" (click)="voltar()">Voltar</ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button
        fill="clear"
        size="small"
        (click)="irLateralidade()"
      >
        Lateralidade
      </ion-button>
    </ion-buttons>

    <ion-title style="background:#34495e; color:#fff; padding:6px 12px; border-radius:6px;font-size:12px;">
      Outros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1 style="margin-top:0">Outros</h1>
  <p>Conteúdo da página “Outros”.</p>
  <br><br><br>
</ion-content>

