:host {
  display: block;
  height: 100%;
}

ion-content {
  --padding-top: 16px;
}

// ion-accordion {
//   margin-bottom: 8px;
//   border-radius: 8px;
//   overflow: hidden;
// }

// ion-item[slot="header"] {
//   --background: #f4f4f4;
//   font-weight: 500;
// }

// ion-item[slot="header"] {
//   --background: #ffffff;
//   color: #000;
// }

// ion-label {
//   color: #000;
// }