<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" size="small" (click)="voltar()">Voltar</ion-button>
    </ion-buttons>
        <ion-title style="background:#e74c3c; color:#fff; padding:6px 12px; border-radius:6px;">
  Chacra Raiz
</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  As pessoas que padecem de problemas neste chacra necessitam de coisas exteriores - objetos ou pessoas - para sentirem segurança. Por outro lado travam, com frequência, batalhas com circunstancias ou com pessoas que consideram como ameaças à sua segurança. No fundo, estas pessoas que não estão minimamente em contacto com a sua força interior têm falta de fé.
  <!-- <h1>Chacra Raiz</h1>
  <p>Conteúdo placeholder para o chakra Raiz.</p> -->
  
</ion-content>

