<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" size="small" (click)="voltar()">Voltar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        fill="clear"
        size="small"
        (click)="irLateralidade()"
      >
        Lateralidade
      </ion-button>
    </ion-buttons>

    <ion-title style="background: #e67e22; color:#fff;padding:6px 12px; border-radius:6px;">
      Chacra Sacral
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <p>
    A pessoa que padece de problemas na região do ventre é aquela que, ao invés de criar a sua própria vida, pretende criar a vida dos outros. Esta pessoa tem medo de não ter suficiente poder, e também teme que os outros adquiram poder sobre si. Pode igualmente acontecer que ela permita que os outros tenham poder sobre si. Como se sente impotente perante alguém ou perante uma situação, tudo se desenvolve em torno do medo, medo esse que, como podes constatar, afeta tanto a região do ventre como a região da base. Os problemas que afetam esta região também se manifestam, com frequência, naquelas pessoas que, de forma exacerbada, buscam sensações provenientes do exterior. As pessoas que padecem de culpa sexual apresentam igualmente sintomas na região do ventre. 
  </p>

  <ion-accordion-group *ngIf="indiceCarregado">
    <ion-accordion
      *ngFor="let item of listaFiltrada"
      [value]="item.id"
    >
      <ion-item
        slot="header"
        button
        (click)="selecionarDoenca(item)"
      >
        <ion-label>{{ item.nome }}</ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        <ng-container *ngIf="cache[item.id]">
          
          <pre style="white-space: pre-wrap; font-family: inherit;">
{{ cache[item.id].significado }}
          </pre>

          <h3>Alimentos aconselhados</h3>
          <div *ngIf="cache[item.id].alimentos?.length; else semAlimentos">
            <ul>
              <li *ngFor="let a of cache[item.id].alimentos">
                {{ a }}
              </li>
            </ul>
          </div>
          <ng-template #semAlimentos>
            <p>Nenhum alimento informado.</p>
          </ng-template>

          <h3>Herança sistémica familiar</h3>
          <pre style="white-space: pre-wrap; font-family: inherit;">
{{ cache[item.id].sistemico }}
          </pre>
        </ng-container>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <br><br>
</ion-content>


