<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" size="small" (click)="voltar()">Voltar</ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button
        fill="clear"
        size="small"
        (click)="irLateralidade()"
      >
        Lateralidade
      </ion-button>
    </ion-buttons>

    <ion-title style="background: #5dade2; color:#fff;padding:6px 12px; border-radius:6px;">
      Chacra Terceiro Olho
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <p>
    Como referi anteriormente, a tua inteligência localiza-se na região do plexo solar, estando esta diretamente conectada com o centro frontal. Quando uma pessoa abusa do seu intelecto, o centro frontal - onde se encontra a energia da intuição e da inteligência pura - é afetado. O centro frontal também é aquele a que estão alocados os dons psíquicos. Uma pessoa que pretenda desenvolver os seus DONS PSÍQUICOS de forma rápida, apressando-se a frequentar toda a sorte de cursos ou a ler muito com o propósito de acelerar esse processo, corre o risco de desequilibrar completamente a sua glândula pituitária e toda a região da cabeça. É muito importante que os demais centros de energia estejam harmonizados antes de desenvolvermos o centro frontal de uma forma mais específica. A melhor maneira de desenvolvermos os nossos dons psíquicos consiste em utilizar os sentidos que se encontram localizados na região do rosto para ver, escutar e sentir Deus em todos os lugares e situações. 
  </p>

  <ion-accordion-group *ngIf="indiceCarregado">
    <ion-accordion
      *ngFor="let item of listaFiltrada"
      [value]="item.id"
    >
      <ion-item
        slot="header"
        button
        (click)="selecionarDoenca(item)"
      >
        <ion-label>{{ item.nome }}</ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        <ng-container *ngIf="cache[item.id]">
          
          <pre style="white-space: pre-wrap; font-family: inherit;">
{{ cache[item.id].significado }}
          </pre>

          <h3>Alimentos aconselhados</h3>
          <div *ngIf="cache[item.id].alimentos?.length; else semAlimentos">
            <ul>
              <li *ngFor="let a of cache[item.id].alimentos">
                {{ a }}
              </li>
            </ul>
          </div>
          <ng-template #semAlimentos>
            <p>Nenhum alimento informado.</p>
          </ng-template>

          <h3>Herança sistémica familiar</h3>
          <pre style="white-space: pre-wrap; font-family: inherit;">
{{ cache[item.id].sistemico }}
          </pre>
        </ng-container>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <br><br>
</ion-content>


