ion-content {

  --padding-bottom: 180px;

}


.secao {

  padding: 10px 14px;

}


h2 {

  font-size: 18px;
  font-weight: 600;

  margin: 10px 0 12px;

}



/* Áudios */

.audio-row {

  display:flex;

  gap:10px;

  overflow-x:auto;

}



.audio-item {

  background:#222;

  color:white;

  padding:8px 14px;

  border-radius:25px;

  font-size:13px;

  white-space:nowrap;

}



/* Cards */


ion-grid {

  max-width:420px;

  margin:auto;

}



ion-col {

  padding:8px;

}



ion-card {


  height:120px;

  margin:0;

  border-radius:18px;

  display:flex;

  flex-direction:column;

  justify-content:center;

  align-items:center;

  text-align:center;


  box-shadow:
  0 4px 12px rgba(0,0,0,.12);


  transition:.2s;


}



ion-card:active {

  transform:scale(.96);

}



ion-card-title {

  font-size:14px;

  padding:8px;

}



.icone {

  font-size:35px;

}





/* Player */


.player {


 position:fixed;

 bottom:0;

 left:0;

 right:0;


 background:#111;

 color:white;


 padding:12px;


 border-radius:20px 20px 0 0;


 box-shadow:
 0 -4px 20px rgba(0,0,0,.3);


 z-index:999;


}



.player audio {

 width:100%;

}



.player .title {

 font-size:14px;

 font-weight:600;

 margin-bottom:8px;

}