.player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background: #070707;
  padding: 10px;

  box-shadow: 0 -2px 10px rgba(0,0,0,0.2);
}

.player audio {
  width: 100%;
  margin-top: 6px;
}

.player .title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

.audio-row {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 8px 0;
}

.audio-item {
  white-space: nowrap;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 12px;
  flex-shrink: 0;
}

.audio-item:active {
  background: #ccc;
}

ion-content {
  --padding-bottom: 120px;
}







  ion-grid {
    position: relative;
    z-index: 1;
  }




  ion-grid {
    --ion-grid-gap: 20px;
    max-width: 400px;
    ion-row {
      --ion-grid-column-alignment: stretch;
    }
      ion-card {
      width: 130px;
      height: 70px;
      cursor: pointer;
      transition: transform 0.2s, box-shadow 0.2s;

      display: flex;
      flex-direction: column;
      &:hover, &:active {
        transform: translateY(-4px);
        box-shadow: 0 8px 25px rgba(0,0,0,0.15);
      }
      ion-card-title {
        font-size: 1rem;
        margin-top: auto;
      }
      ion-card-subtitle {
        color: var(--ion-color-medium);
        font-size: 0.8rem;
      }
      ion-card-content {
        font-size: 0.8rem;
        flex-grow: 1;
      }
    }
  }