<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" size="small" (click)="voltar()">Voltar</ion-button>
    </ion-buttons>
    <ion-title>Setenios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card *ngFor="let s of setenios">

    <ion-card-header>
      <ion-card-title>
        {{ s.nome }}
      </ion-card-title>
    </ion-card-header>

   <ion-card-content class="setenio-descricao">
  {{ s.descricao }}
</ion-card-content>

  </ion-card>
</ion-content>

