<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button
        class="info-btn"
        fill="clear"
        size="small"
        (click)="openCasasInfo()"
        aria-label="Informações das casas"
      >
        info
      </ion-button>
    </ion-buttons>
 
    <ion-title class="ion-text-center" [ngClass]="casaClass">
      <div class="casa-title-wrap">
         
        <div class="casa-title">{{ casaAtual }}</div>
        <div class="casa-desc">{{ descricaoCasaAtual }}</div>
       
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" class="cards-grid">
  <div class="background-layer" [ngStyle]="{ 'background-image': 'url(' + backgroundImage + ')' }" aria-hidden="true"></div>



  <ion-grid>

    <div class="regra-container">
      <div class="regra-text">{{ regraTexto }}</div>
      <ion-button class="regra-edit-btn" size="small" fill="clear" (click)="openRegraEdit()">
        editar
      </ion-button>
    </div>



    <ion-row>


      <ion-col size="6">
        <ion-card (click)="navigatePrayer()">
          <ion-card-header>
            <ion-card-subtitle>Orações</ion-card-subtitle>
            <ion-card-title>Oração do Perdão</ion-card-title>
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card (click)="navigatePerfil()">
          <ion-card-header>
            <ion-card-subtitle>Usuário</ion-card-subtitle>
            <ion-card-title>Perfil</ion-card-title>
          </ion-card-header>
         
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card (click)="navigateAnimais()">
          <ion-card-header>
            <ion-card-subtitle>Natureza</ion-card-subtitle>
            <ion-card-title>Animais</ion-card-title>
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card (click)="navigateValores()">
          <ion-card-header>
            <ion-card-subtitle>Princípios</ion-card-subtitle>
            <ion-card-title>Valores</ion-card-title>
          </ion-card-header>
          
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card (click)="navigateMeditacoes()">
          <ion-card-header>
            <ion-card-subtitle>Relaxamento</ion-card-subtitle>
            <ion-card-title>Meditações</ion-card-title>
          </ion-card-header>
          
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card (click)="navigateMetadeSombra()">
          <ion-card-header>
            <ion-card-subtitle>Conteúdo</ion-card-subtitle>
            <ion-card-title>Metade sombra</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>


<!-- MODAL: EDITAR FRASE -->
<ion-modal
  [isOpen]="isRegraEditModalOpen"
  (didDismiss)="closeRegraEdit()"
>
  <ng-template>

    <ion-header>
      <ion-toolbar>
        <ion-title>Editar frase</ion-title>

        <ion-buttons slot="end">
          <ion-button (click)="closeRegraEdit()">Cancelar</ion-button>
          <ion-button (click)="saveRegraEdit()">Guardar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">

      <ion-item>
        <ion-label position="stacked">Frase</ion-label>

        <ion-input
          [(ngModel)]="regraTextoEdit"
          placeholder="Digite a nova frase"
        ></ion-input>

      </ion-item>

    </ion-content>

  </ng-template>
</ion-modal>


<!-- MODAL: CASAS -->
<ion-modal
  [isOpen]="isCasasModalOpen"
  (didDismiss)="isCasasModalOpen = false"
>
  <ng-template>

    <ion-header>
      <ion-toolbar>
        <ion-title>Casas</ion-title>

        <ion-buttons slot="end">
          <ion-button (click)="isCasasModalOpen = false">
            Fechar
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">

      <ion-list>
        <ion-item *ngFor="let casa of casasList">
          <ion-label>
            <h2 class="casa-item-title">{{ casa.nome }}</h2>
            <p class="casa-item-desc">{{ casa.descricao }}</p>
          </ion-label>
        </ion-item>
      </ion-list>

    </ion-content>

  </ng-template>
</ion-modal>
</ion-content>
