<ion-header [translucent]="true">

  <ion-toolbar>


    <!-- ESQUERDA -->
    <ion-buttons slot="start">

      <ion-button
        fill="clear"
        size="small"
        (click)="voltar()">

        ← Voltar

      </ion-button>

    </ion-buttons>




    <!-- TITULO -->
    <!-- <ion-title>

      {{ pessoa ? pessoa.nome : 'Pessoa' }}

    </ion-title> -->





    <!-- DIREITA -->
    <ion-buttons slot="end" class="perfil-menu">


      <ion-button
        fill="clear"
        size="small"
        (click)="abrirSignos()">

        Signos

      </ion-button>



      <ion-button
        fill="clear"
        size="small"
        (click)="abrirEneagrama()">

        Eneagrama

      </ion-button>



      <ion-button
        fill="clear"
        size="small"
        (click)="abrirSetenios()">

        Seténios

      </ion-button>


    </ion-buttons>



  </ion-toolbar>

</ion-header>



<ion-content fullscreen>


<ng-container *ngIf="pessoa; else notFound">


<!-- =========================
     PERFIL HEADER
========================= -->


<section class="perfil-header">


  <div class="avatar">

    {{ pessoa.nome.charAt(0) }}

  </div>



  <h1>

    {{ pessoa.nome }}
    {{ pessoa.apelido }}

  </h1>



  <p>

    {{ idadeAtual }} anos
    ·
    {{ pessoa.localidade }}

  </p>


</section>





<!-- =========================
     INFORMAÇÃO PESSOAL
========================= -->


<ion-card class="card-moderno">


<ion-card-header>

<ion-card-title>

👤 Dados pessoais

</ion-card-title>

</ion-card-header>



<ion-card-content>


<div class="info-grid">


<div>

<span>
Grupo
</span>

<strong>
{{ pessoa.grupo }}
</strong>

</div>



<div>

<span>
Nascimento
</span>

<strong>
{{ pessoa.data }}
</strong>

</div>



<div>

<span>
Eneagrama
</span>

<strong>
{{ pessoa.eneagrama_tipo }}
</strong>

</div>



</div>


</ion-card-content>

</ion-card>





<!-- =========================
 PERFIL INTERIOR
========================= -->


<ion-card class="card-moderno">


<ion-card-header>

<ion-card-title>

✨ Perfil interior

</ion-card-title>

</ion-card-header>



<ion-card-content>



<div class="energia-grid">



<div>

<span>
Força espiritual
</span>


<strong>
{{ forcaVogais }}
</strong>


</div>




<div>

<span>
Atividade
</span>


<strong>
{{ atividadeConsoantes }}
</strong>


</div>



</div>



</ion-card-content>

</ion-card>







<!-- =========================
      CAPÍTULOS
========================= -->


<ion-card class="card-moderno">


<ion-accordion-group>





<!-- SETÉNIO -->


<ion-accordion value="setenio">


<ion-item slot="header">

<ion-label>

🌱 Seténio atual

</ion-label>

</ion-item>



<div 
slot="content"
class="conteudo">


<div *ngIf="setenioAtual">


<h2>

{{ setenioAtual.nome }}

</h2>



<p class="descricao">

{{ setenioAtual.descricao }}

</p>


</div>


</div>


</ion-accordion>







<!-- DIA NASCIMENTO -->


<ion-accordion value="dia">


<ion-item slot="header">

<ion-label>

🌞 Dia de nascimento

</ion-label>

</ion-item>


<div 
slot="content"
class="conteudo">


<p class="descricao">

{{ descricaoDia }}

</p>


</div>


</ion-accordion>







<!-- SIGNO CHINÊS -->


<ion-accordion value="chines">


<ion-item slot="header">

<ion-label>

🐉 Signo chinês

</ion-label>

</ion-item>



<div
slot="content"
class="conteudo">


<div *ngIf="signoChines">


<h2>

{{ signoChines.signo }}

({{ signoChines.elemento }})

</h2>


<p class="descricao">

{{ signoChines.descricao }}

</p>


</div>


</div>


</ion-accordion>







<!-- SIGNO SOLAR -->


<ion-accordion value="solar">


<ion-item slot="header">

<ion-label>

☀️ Signo solar

</ion-label>

</ion-item>




<div
slot="content"
class="conteudo">


<div *ngIf="signoSolarAtual">


<h2>

{{ signoSolarAtual.signo }}

</h2>




<div class="texto-box">

<strong>
Objetivo
</strong>


<p>

{{ signoSolarAtual.objetivo }}

</p>


</div>





<div class="texto-box">

<strong>
Personalidade
</strong>


<p>

{{ signoSolarAtual.personalidade }}

</p>


</div>




</div>


</div>


</ion-accordion>




<!-- =========================
     ENEAGRAMA
========================= -->


<ion-accordion value="eneagrama">


<ion-item slot="header">

<ion-label>

🔺 Eneagrama

</ion-label>

</ion-item>




<div 
slot="content"
class="conteudo">


<div *ngIf="eneagramaAtual; else eneagramaFallback">


<div class="texto-box">


<strong>
Infância
</strong>


<p class="descricao">

{{ eneagramaAtual.infancia }}

</p>


</div>





<div class="texto-box">


<strong>
Dificuldades
</strong>


<ul>

<li 
*ngFor="let d of eneagramaAtual.dificuldades">

{{ d }}

</li>

</ul>


</div>






<div class="texto-box">


<strong>
Gostos
</strong>


<ul>

<li 
*ngFor="let g of eneagramaAtual.gostos">

{{ g }}

</li>

</ul>


</div>






<div class="texto-box">


<strong>
Autoajuda
</strong>


<p class="descricao">

{{ eneagramaAtual.autoajuda }}

</p>


</div>






<div class="texto-box">


<strong>
Exercícios práticos
</strong>


<p class="descricao">

{{ eneagramaAtual.exercicios_praticos }}

</p>


</div>



</div>





<ng-template #eneagramaFallback>


<p>

Não foi possível carregar o conteúdo do Eneagrama.

</p>


</ng-template>



</div>


</ion-accordion>









<!-- =========================
        PESTAL
========================= -->


<ion-accordion value="pestal">


<ion-item slot="header">


<ion-label>

🏠 Análise Pestal

</ion-label>


</ion-item>





<div 
slot="content"
class="conteudo">



<ng-container 
*ngIf="
anoPessoalAtual !== null 
&& 
anoPessoalProximo !== null;
else pestalFallback
">





<div class="texto-box">


<strong>

Casa atual

</strong>



<p class="descricao">

{{ casaAtual }}

</p>


<p class="descricao">

{{ descricaoCasaAtual }}

</p>


</div>







<div class="texto-box">


<strong>

Próxima casa

</strong>



<p class="descricao">

{{ casaSeguinte }}

<span 
*ngIf="diasParaCasaSeguinte !== null">

<br>

Faltam 
{{ diasParaCasaSeguinte }}
dias

</span>


</p>



<p class="descricao">

{{ descricaoCasaSeguinte }}

</p>


</div>









<h3 class="titulo-secao">

📅 Ciclos anuais

</h3>








<ion-accordion-group expand="inset">





<ion-accordion

*ngFor="
let ano of anosPestal;
let i=index
"

[value]="ano.ano"

>





<ion-item slot="header">


<ion-label>


<strong>

{{ ano.ano }}

</strong>



<span *ngIf="i===0">

(Atual)

</span>



<span *ngIf="i===1">

(Próximo)

</span>



</ion-label>


</ion-item>







<div 
slot="content"
class="ano-card">





<div class="ano-numero">

{{ ano.ano }}

</div>






<div class="texto-box">


<strong>

Ano pessoal

({{ ano.anoPessoal }})

</strong>



<p class="descricao">

{{ ano.descricaoAnoPessoal }}

</p>


</div>







<div class="texto-box">


<strong>

Ano chinês

({{ ano.anoChines }})

</strong>




<p class="descricao">

{{ ano.previsaoAnoChines }}

</p>



</div>





</div>





</ion-accordion>



</ion-accordion-group>






</ng-container>





<ng-template #pestalFallback>


<p>

Em desenvolvimento.

</p>


</ng-template>



</div>



</ion-accordion>






</ion-accordion-group>


</ion-card>





</ng-container>









<!-- =========================
       NÃO ENCONTRADO
========================= -->


<ng-template #notFound>


<ion-card class="card-moderno">


<ion-card-content>


<h2>

Pessoa não encontrada

</h2>


<p>

ID inválido ou dados indisponíveis.

</p>


</ion-card-content>


</ion-card>



</ng-template>




</ion-content>