<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" size="small" (click)="voltar()">Voltar</ion-button>
    </ion-buttons>
    <ion-title>Eneagrama</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <p>AGRESSIVOS
8-1-3<br>
Agem contra o mundo. Desafiam, encaram, arriscam, acreditam. São muito autoconfiantes e positivos.<br><br>

CONDESCENDENTES
2-7-6<br>
Agem de encontro ao mundo, tentando adaptar-se, estar de acordo. Evitam estar contra ou discordar.<br><br>

RETRAÍDOS
5-4-9<br>
Afastam-se do mundo, evitam o contacto, o confronto. Têm tendência ao isolamento, individualismo.</p>
</ion-content>

