<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" size="small" (click)="voltar()">Voltar</ion-button>
    </ion-buttons>
    <ion-title>Linguagem do corpo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- <h1>Linguagem do corpo</h1>
  <p>Conteúdo para a página dddddddetalhe da Linguagem do corpo.</p> -->

  <ion-grid>
    <ion-row>

      <!-- Coluna esquerda: imagem -->
      <ion-col size="6" class="imagem-col">

        <!-- <div class="imagem-wrapper"> -->

        <img
          src="assets/corpo/chacras.webp"
          alt="Chacras"
          class="imagem-corpo"
        />

         <!-- <ion-button
    expand="block"
    class="botao-outros"
    (click)="selecionarChacra('outros')"
  >
    OUTROS
  </ion-button> -->

        <!-- </div> -->
      </ion-col>

      <!-- Coluna direita: botões -->
      <ion-col size="6" class="botoes-col">

      <ion-button
        *ngFor="let c of chakras"
        expand="block"
        (click)="selecionarChacra(c.id)"
        [class.ativo]="c.id === selecionado"
        [ngStyle]="{
          '--background': c.cor,
          '--color': '#fff'
        }"
      >
        {{ c.nome }}
      </ion-button>


      </ion-col>

    </ion-row>
  </ion-grid>


