<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" size="small" (click)="voltar()">Voltar</ion-button>
    </ion-buttons>
    <ion-title>A tua casa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>A tua casa</h1>
  <p>Conteúdo para a página detalhe “A tua casa”.</p>

  <div class="acordeao">
    <ion-accordion-group>
      <ion-accordion value="1">
        <ion-item slot="header">
          <ion-label>Diferentes pisos</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Conteúdo do botão 1.</div>
      </ion-accordion>

      <ion-accordion value="2">
        <ion-item slot="header">
          <ion-label>Tetos e escadas</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Conteúdo do botão 2.</div>
      </ion-accordion>

      <ion-accordion value="3">
        <ion-item slot="header">
          <ion-label>Casa espaçosa ou apertada</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Conteúdo do botão 3.</div>
      </ion-accordion>

      <ion-accordion value="4">
        <ion-item slot="header">
          <ion-label>Objetos acumulados</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Conteúdo do botão 4.</div>
      </ion-accordion>

<ion-accordion value="5">
        <ion-item slot="header">
          <ion-label>Pó e poeira</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Conteúdo do botão 5.</div>
      </ion-accordion>

      <ion-accordion value="6">
        <ion-item slot="header">
          <ion-label>Desarrumação</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Conteúdo do botão 6.</div>
      </ion-accordion>

      <ion-accordion value="7">
        <ion-item slot="header">
          <ion-label>Cozinha</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Conteúdo do botão 7.</div>
      </ion-accordion>

      <ion-accordion value="8">
        <ion-item slot="header">
          <ion-label>Quarto</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Conteúdo do botão 4.</div>
      </ion-accordion>

    </ion-accordion-group>
  </div>
  <br><br><br>
</ion-content>


