<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" size="small" (click)="voltar()">Voltar</ion-button>
    </ion-buttons>
    <ion-title>O que comes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>O que comes</h1>
  <p>Conteúdo para a página detalhe “O que comes”.</p>

  <div class="acordeao">
    <ion-accordion-group>
      <ion-accordion value="1">
        <ion-item slot="header">
          <ion-label>Botão 1</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Conteúdo do botão 1.</div>
      </ion-accordion>

      <ion-accordion value="2">
        <ion-item slot="header">
          <ion-label>Botão 2</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Conteúdo do botão 2.</div>
      </ion-accordion>

      <ion-accordion value="3">
        <ion-item slot="header">
          <ion-label>Botão 3</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Conteúdo do botão 3.</div>
      </ion-accordion>

      <ion-accordion value="4">
        <ion-item slot="header">
          <ion-label>Botão 4</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Conteúdo do botão 4.</div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>


